.idea/
venv/
# migrations/
*.pyc
django_ocr_server/upload/
django_ocr_server/pdf/

# some temporary files
temp.py
temp.html
notes

#
dist/
__pycache__/
*.egg-info/
.eggs/

# sphinx files
doc/build/html/
doc/build/doctrees/
_build
_static
_templates

# django project files
db.sqlite3
ocr_server/
manage.py

# deployment files
uwsgi.ini

# Visual Studio code
.vscode/

# codecov
.coverage
coverage/

# nodejs
node_modules/
